:host {
  display: block;
  width: 100%;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-content {
  width: 100%;
}

.main-content.with-header {
  padding-top: 64px;
}
