<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="side" opened class="sidenav">
    <mat-toolbar color="primary" class="sidenav-header">
      <img src="assets/logo-elorrieta-white.svg" alt="Logo" class="sidenav-logo" (click)="goHome()">
    </mat-toolbar>

    <mat-nav-list>
      @for (item of filteredMenuItems(); track item.route) {
      <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label | translate }}</span>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="main-toolbar">
      <span class="toolbar-title" (click)="goHome()">
        {{ 'APP.TITLE' | translate }}
      </span>

      <span class="toolbar-spacer"></span>

      <!-- Hizkuntza Hautatzailea -->
      <button mat-icon-button [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        @for (lang of availableLanguages; track lang.code) {
        <button mat-menu-item (click)="switchLanguage(lang.code)">
          <span class="lang-flag">{{ lang.flag }}</span>
          <span>{{ lang.name }}</span>
          @if (currentLanguage() === lang.code) {
          <mat-icon class="check-icon">check</mat-icon>
          }
        </button>
        }
      </mat-menu>

      <!-- Erabiltzailearen Menua -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <div class="user-info">
          <div class="user-name">{{ currentUser()?.name }} {{ currentUser()?.surname }}</div>
          <div class="user-role">{{ 'ROLE.' + currentUser()?.role | translate }}</div>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>{{ 'MENU.PROFILE' | translate }}</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ 'MENU.LOGOUT' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
